.configButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 0;
  background: none;
  color: rgb(136, 203, 255);
  position: relative;

  .options {
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid rgb(119 119 119);
    display: flex;
    flex-direction: column;
    background-color: #3c3c3c;
    border-radius: 4px;
    z-index: 1;

    .option {
      text-align: left;
      padding: 4px;
      color: #fff;
      white-space: nowrap;
      min-width: 100px;

      &:hover {
        background-color: rgb(50, 50, 50);
      }
    }
  }
  &:hover {
    background: none;
    
    svg {
      path {
        fill: rgb(180, 222, 255);
      }
    }
  }
}
