.widgetWrapper {
  box-sizing: border-box;
  display: flex;
  padding: 4px;
  min-width: 200px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  .widget {
    border: 1px solid rgb(119 119 119);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    flex: 1;  

    .header {
      background-color: rgb(50, 50, 50);
      border-radius: 4px;
      display: flex;
      padding: 4px;
  
      .title {
        display: flex;
        flex: 1;
      }
      .toolbar {
        position: relative;
        display: flex;
        gap: 4px;
      }  
    }
  
    .content {
      color: #fff;
      display: flex;
      padding: 4px;
      flex: 1;
      overflow: hidden;
    }
  }
  &.drag-over {
    .widget {
      border: 1px dashed #03c6fc;
    }
  }
}
