body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3c3c3c;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  height: 100vh;
  margin: 0;
}
#root {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  padding: 16px;
  flex: 1;
}
.app {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  gap: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbox {
  display: flex;
  align-items: center;
  gap: 4px;
}
button {
  padding: 4px 16px;
  background-color: rgb(136, 203, 255);
  color: #000;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: rgb(183, 224, 255);
}
