.resizer {
  flex-direction: column;
  position: absolute;
  display: flex;
  padding: 2px;
  right: -2px;
  top: 20px;
  z-index: 1;

  .boxes {
    display: flex;
  }
  .box {
    transition: all 0.2s ease-in-out;
    background-color: #3c3c3c;
    border: 1px solid gray;
    cursor: pointer;
    height: 8px;
    width: 8px;

    &.hover {
      background-color: rgb(180, 222, 255);
      border-color: rgb(180, 222, 255);
    }
    &.active {
      background-color: rgb(136, 203, 255);
      border-color: rgb(136, 203, 255);
    }
    &.hoverInActive {
      background-color: rgb(180, 222, 255);
      border-color: rgb(180, 222, 255);
    }
    &:hover {
      background-color: rgb(0, 145, 255);
    }
  }
}
